# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly set line endings for specific file types
*.py text eol=lf
*.json text eol=lf
*.sh text eol=lf
*.bat text eol=crlf
