# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Serverless Framework build files
.serverless/
.webpack/

# Ignore Node.js dependencies
node_modules/
npm-debug.log

# Ignore boto3 and dependencies installed locally for deployment
boto3/
botocore/
jmespath/
dateutil/
s3transfer/
six/
urllib3/
*.dist-info/

# Ignore environment files
.env
